.about__header {
	-webkit-animation: 10s transformBackground infinite;
	animation: 10s transformBackground infinite; 	
    height: 350px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

	&::before {
		background: none;
	}

	&__container {
		background: url('../images/about-me.jpg');
		background-position: center top;
		background-size: cover;			
		border-radius: 100%;
		height: auto;
		margin: 20px 22.5%;
		padding-top: 55%;
		width: 55%;

		@media screen and (min-width: 768px) {
			background: none;
			border-radius: 0;
			display: block;
			height: 295px;
			margin: 0 auto;
			overflow: hidden;
			padding: 0;
			width: 100%;
		}

		#instafeed {
			display: none;

			@media screen and (min-width: 768px) {
				display: block;
				height: 295px;
				width: 120%;

				img {
					height: 119.5px;
					width: 119.5px;
				    display: inline-block;	
				    margin-bottom: -3px;				
				    opacity: .3;
				    padding: 0;
				}
			}
		}
	}	
}