@keyframes transformBackground {
	0% {
		background: #185266;
	}
	18% {
		background: #236679;
	}
	48% {
		background: #2f93aa;
	}
	78% {
		background: #236679;
	}
	100% {
		background: #185266;
	}
}

@-webkit-keyframes transformBackground {
	0% {
		background: #185266;
	}
	18% {
		background: #236679;
	}
	48% {
		background: #2f93aa;
	}
	78% {
		background: #236679;
	}
	100% {
		background: #185266;
	}
}	