@keyframes transformBackground {
	0% {
		background: #D6F7F8;
	}
	18% {
		background: #AADDDE;
	}
	48% {
		background: #CCE5F3;
	}
	78% {
		background: #B6E5FF;
	}
	100% {
		background: #D6F7F8;
	}
}

// @-webkit-keyframes transformBackground {
// 	0% {
// 		background: #D7F9FB;
// 	}
// 	18% {
// 		background: #B5D6F9;
// 	}
// 	48% {
// 		background: #8DB8F6;
// 	}
// 	78% {
// 		background: #C2D0F6;
// 	}
// 	100% {
// 		background: #D7F9FB;
// 	}
// }	