.header {
  	animation: 10s transformBackground infinite;
  	-webkit-animation: 10s transformBackground infinite;
  	background: #F0B875;
	position: relative;
	width: 100%;

	@media screen and (min-width: 768px) {
		height: 295px;
	}

	&::before {
		content: '';
		background: url('../images/mountain-header.jpg');
		background-position: center;
		background-size: cover;
		height: 100%;
		left: 0;
		opacity: .25;
		position: absolute;
		top: 0;
		width: 100%;
	}	

	.main {
		background: $background;
	}

	nav {
		padding-bottom: 30px; 

		li {			
			padding-top: 20px; 
			text-align: center;

			@media screen and (min-width: 768px) {
				display: inline-block;
				width: 50%;
			}
		}
	}
}	