nav {
	.mobile-nav {
		height: 30px;
		position: fixed;
		right: 10px;
		top: 10px;
		transition: .3s ease-in;
		width: 30px;

		&__toggle {
			background: $white;
			height: 3px;
			margin-top: 5px;
			width: 30px;
		}

		.moveToggle {
			-webkit-transition: .3s ease-in;
			right: 210px;
			transition: .3s ease-in;
		}	

		@media screen and (min-width: 768px) {
			display: none;
		}	
	}

	.nav,
	.work-nav {
		background: #1F2D34;
		font-size: 13px;
		height: 100%;
		padding-bottom: 20px;
		position: fixed;
		right: -280%;
		text-transform: uppercase;
		top: 0;
		transition: .3s ease-in;
		width: 80%;
		z-index: 100;

		@media screen and (min-width: 768px) {
			background: none;
			float: left;
			height: auto;
			position: absolute;
			right: 20px;
			top: 0;
			width: auto;

			&.work-nav {
				position: fixed;
			}
		}

		@media screen and (min-width: 1200px) {
			display: block;
			margin: 0 auto;
		}

		a {
			color: $white;
			display: block;
			font-family: $body-font-stack;
			font-size: 20px;
			padding: 30px 0;
			text-align: center;
			width: 100%;

			&:nth-child(2) {
				border-top: 2px solid $accent-blue;
				border-bottom: 2px solid $accent-blue;

				@media screen and (min-width: 768px) {
					border-top: 0;
					border-bottom: 0;
				}
			}


			@media screen and (min-width: 768px) {
				background: none;
				float: left;
				font-size: 13px;
				margin: 0 15px;
				width: auto;
			}

			@media screen and (min-width: 1200px) {

			}

		}
	}

	.showMenu {
		-webkit-transition: .3s ease-in;
		right: 0;
		transition: .3s ease-in;
	}	

	.moveToggle {
		-webkit-transition: right .3s ease-in;
		right: 83%;
		top: 25px;
		transition: right .3s ease-in;
		z-index: 200;

		.mobile-nav__toggle {
			margin-top: -2px;

			&:nth-child(1) {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}	