.work-page {
	background: $white;
	box-shadow: 0px 26px 43px rgba(25, 25, 25, 1);
	margin-bottom: 100px;
	padding: 20px;
	position: relative;
	z-index: 10;

	@media screen and (min-width: 768px) {
		padding: 30px 100px 50px;
	}

	h2 {
		color: $accent-blue;
		font-family: $headline-font-stack;
		font-size: 50px;
		padding: 20px 0 15px;
		text-align: left;
		word-wrap: break-word;
		width: 100%;

		@media screen and (min-width: 768px) {
			padding: 20px 0 30px;
		}
	}

	h4 {
		color: $white;
		font-size: 20px;
		font-weight: 800;
		padding: 0;
		text-align: left;
		width: 100%;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	p {
		display: inline-block;
		line-height: 25px;
		color: #374C5E;

		@media screen and (min-width: 768px) {
			line-height: 30px;
		}
	}

	a {
		color: #1E5F80;
		text-decoration: underline;
	}

	ol {
		display: inline-block;
		padding: 20px 0 0 30px;
		width: 100%;

		li {
			display: inline-block;
			font-family: $body-font-stack;
			position: relative;
		    padding-left: 25px;
		    line-height: 30px;
		    width: 100%;
		    color: #374C5E;
			

			&::before {
				content: '';
			    width: 7px;
			    border-radius: 100%;
			    height: 7px;
			    background: #374C5E;
			    position: absolute;
			    left: 0;
			    top: 13px;
			}
		}
	}

	ul {
		display: inline-block;

		li {
			display: inline-block;
			font-family: $body-font-stack;
			width: 100%;

			p {
				color: #1E5F80;
				display: inline-block;
				font-style: italic;

				&:first-of-type {
					color: #374C5E;
					font-style: normal;
					font-weight: 800;
					margin: 0 6px 0 12px;
				}
			}
		}
	}

	&__container {
		display: inline;

		@media screen and (min-width: 768px) {
			display: block;
			position: relative;
			z-index: 3;
			text-align: right;
		}

		@media screen and (min-width: 1200px) {			
			margin: 0 auto;
			width: 1000px;
		}
	}

	&__main {
		@media screen and (min-width: 768px) {
			display: inline-block;
			margin-right: 5%;
			width: 55%;
			text-align: left;
		}
	}

	&__tech-specs {
		background: #1E5F80;
		border-radius: 15px;
		margin: 20px 0;
		padding: 15px 0 0 25px;
		text-align: left;

		.triangle {
			background-color: $white;
		}

		ul {
			margin-top: 10px;

			li {
				margin-bottom: 10px;

				p:first-of-type {
					color: $white;
					font-weight: 400;
				}
			}
		}

		a {
			color: $white;
		}

		@media screen and (min-width: 768px) {
			display: inline-block;
			max-width: 330px;
			width: 100%;
			margin-top: 10px;
		}

	}

	&__button-container {
		@media screen and (min-width: 768px) {
			max-width: 330px;
			width: 100%;
			text-align: initial;
			float: right;
		}
	}

	&__tech-container {
		@media screen and (min-width: 768px) {
			display: inline-block;
			margin-top: 55px;
			vertical-align: top;
			width: 40%;
		}
	}

	button {
		border: 2px solid #1E5F80;
		display: inline-block;
		width: 47%;

		&:hover {
			background: #1E5F80;
		}

		a {
			color: #1E5F80;
			text-decoration: none;

			&:hover {
				color: $white;
			}
		}		
	}

	&__view-site {
		display: inline-block;
		margin: 0 1% 0 0;
	}

	&__view-code {
		display: inline-block;
		float: right;
		margin: 0 0 0 1%;
	}

	&__navigation {
		display: inline-block;
		width: 100%;
		font-size: 20px;
		color: #1E5F80;
		margin-top: 15px;

		@media screen and (min-width: 768px) {
			margin-top: 50px;
		}

		@media screen and (min-width: 1200px) {			
			margin: 50px auto 0;
			display: block;
			width: 1000px;
		}		

		h3 {
			font-family: $body-font-stack;
			display: inline-block;
			text-decoration: underline;
			font-style: italic;
			color: #1E5F80;
			vertical-align: super;
			padding: 0 10px;
			margin: 0;
			text-transform: none;
			letter-spacing: .5px;

			&::after {
				display: none;
			}
		}

		p {
			display: none;
			opacity: 0;
			width: 100%;
			transition: .2s ease-out;
			margin: 0;
			padding: 0 40px;

			@media screen and (min-width: 768px) {
				display: inline-block;
			}
		}

		i {
			font-size: 30px;
		}

		a:hover p {
			opacity: 1;
			transition: .2s ease-in;
		}
	}

	&__left,
	&__right {
		width: 50%;
		display: inline-block;
	}

	&__left {
		text-align: left;
	}

	&__right {
		text-align: right;
	}

	i,
	h2 {
		display: inline-block;
	}
}