.work__header {
	animation: none;
	background: none;
	height: 350px;
	position: fixed;
	top: 0;
	z-index: -1;

	&::before {
		background: none;
	}

	h1 {
		padding-top: 35px;

		@media screen and (min-width: 768px) {
			padding-top: 100px;
		}
	}

	&__proj-1 {
		background: url('../images/bridgestone.jpg') center center;
		background-size: cover;
	}
}