.about {
	background: $white;
	box-shadow: 0px 26px 43px rgba(25, 25, 25, 1);
	margin-bottom: 100px;
	margin-top: 235px;
	padding: 20px;

	@media screen and (min-width: 768px) {
		padding: 20px 75px 50px;
	}	

	&__container {
		margin: 0 auto;
		max-width: 1000px;
	}

	&__contact-info {
		margin: 15px 0 30px 0;
	}	

	h1 {
		color: $accent-blue;
		text-align: left;		
	}

	h2 {
		color: #374C5E;
		display: inline-block;
		font-style: normal;
		font-weight: 800;
		margin: 0 6px 0 12px;
		text-align: left;		
	}

	p {
		color: #374C5E;		
		line-height: 25px;

		@media screen and (min-width: 768px) {
			line-height: 30px;
		}		
	}

	li p {
		color: #1E5F80;
		display: inline-block;
	}

	li a {
		color: #1E5F80;	
		display: inline-block;
		font-family: $body-font-stack;
		margin-top: 15px;
		text-decoration: underline;
	}
}
