// Variables
$background-mobile: #3d9ebf;
$background: #eeede8;
$body-font-stack: 'Source Sans Pro' Helvetica, sans-serif;
$headline-color: rgba(81, 93, 94, 0.36);
$headline-font-stack: 'Fjalla One' Helvetica, sans-serif;
$white: #fff;
$work-overlay: rgba(75, 40, 67, 1);


// Stylesheets Include
@import 'animations';
@import 'header';
@import 'work';

// Defaults
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
	}
	
	h1,
	h2, {
		color: $white;

		@media screen and (min-width: 768px) {
			color: $headline-color;		
		}

		
	}

	h1 {
		font-family: $headline-font-stack;
		font-size: 40px;
		letter-spacing: 2px;	
		line-height: 35px;
		padding-top: 50px;
		text-align: center;
		text-transform: uppercase;	

		@media screen and(min-width: 768px) {
			line-height: 80px;
			padding-top: 100px;
	 		font-size: 100px;
		}			
	}

	h2 {
		font-family: $body-font-stack;
		font-size: 25px;
		text-align: center;
		text-transform: capitalize;

		@media screen and(min-width: 768px) {
			font-size: 60px;
		}		
	}

	h3,
	h4 {
		color: $white;
		font-family: $body-font-stack;
		letter-spacing: .5px;
	}
}