// Variables
$background-mobile: #3d9ebf;
$background: #eeede8;
// $button-gradient: linear-gradient(120deg, #3d9ebf 0%, #446685 25%, #4a304b 51%, #4f1633 100%);
$font-stack: 'Oswald' Helvetica, sans-serif;
// $headline-color-mobile: #4B2A45;
$headline-color: rgba(81, 93, 94, 0.36);
$white: #fff;
$work-overlay: rgba(75, 40, 67, 1);

// Animations
@keyframes transformBackground {
	0% {
		background: #FF9A9A;
	}
	12.5% {
		background: #FFA96D;
	}
	37% {
		background: #FF6D6D;
	}
	62% {
		background: #349C93;
	}
	87% {
		background: blue;
	}
	100% {
		background: #FF9A9A;
	}
}

@-webkit-keyframes transformBackground {
	0% {
		background: #FF9A9A;
	}
	12.5% {
		background: #FFA96D;
	}
	37% {
		background: #FF6D6D;
	}
	62% {
		background: #349C93;
	}
	87% {
		background: blue;
	}
	100% {
		background: #FF9A9A;
	}
}

// Defaults
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}

	li {
		list-style: none;
	}
	
	h1,
	h2, {
		color: $white;
		font-family: $font-stack;

		@media screen and (min-width: 768px) {
			color: $headline-color;		
		}

		
	}

	h1 {
		font-size: 40px;
		line-height: 35px;
		padding-top: 50px;
		text-align: center;
		text-transform: uppercase;		

		@media screen and(min-width: 768px) {
			line-height: 80px;
			padding-top: 100px;
	 		font-size: 100px;
		}			
	}

	h2 {
		font-size: 25px;
		text-align: center;
		text-transform: capitalize;

		@media screen and(min-width: 768px) {
			font-size: 60px;
		}		
	}

	h3,
	h4 {
		color: $white;
		font-family: $font-stack;
		letter-spacing: .5px;
	}

	// Canvas Specific
	canvas {
		display: none;

		@media screen and (min-width: 768px) {
			display: block;
			opacity: .2;
			position: absolute;
			top: 0;			
		}
	}	

	// Hero
	.header {
	  	animation: 10s transformBackground infinite;
	  	-webkit-animation: 10s transformBackground infinite;
	  	background: blue;
	  	// background-image: radial-gradient(circle at top right, #1B96CB, #243384 50%);
		position: relative;
		width: 100%;

		@media screen and (min-width: 768px) {
			background: rgba(22, 220, 255, 0.31);
			height: 400px;
		}
	}	

	// Main
	.main {
		background: $background;
	}

	nav {
		padding-bottom: 20px; 

		li {			
			padding-top: 20px; 
			text-align: center;

			button {
				border: 0;
				background: rgba(0, 0, 0, 0.2);
				color: $white;
				border: 2px solid $white;
				cursor: pointer;
				font-family: $font-stack;
				font-size: 15px;
				height: 50px;
				letter-spacing: 1px;
				overflow: hidden;;
				position: relative;
				text-transform: uppercase;
				width: 50%;

				p {
					position: absolute;
					text-align: center;
					top: 15px;
					width: 100%;
					z-index: 1;
				}

			}
		}
	}

	// Work items
	.work {

		.work__item {	

			&:hover .work__overlay {
				opacity: .85;
				transition: .2s ease-in-out;				
			}
		}

		// &__overlay {
		// 	background: $work-overlay;
		// 	content: '';
		// 	height: 75%;
		// 	left: 12.5%;
		// 	opacity: .5;
		// 	position: absolute;
		// 	top: 12.5%;
		// 	transition: .2s ease-in-out;
		// 	width: 75%;		
		// }				

		&__one {
			background: url('../images/bridgestone.jpg') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}

		&__two {
			background: url('../images/maps.png') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}

		&__three {
			background: url('../images/atlanta-humane-society.png') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}	

		&__four {
			background: url('../images/black-girls-code.png') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}

		&__five {
			background: url('../images/100-girls-of-code.png') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}	

		&__six {
			background: url('../images/ghost.png') center center;
			background-size: cover;
			height: 300px;
			position: relative;
			width: 100%;

			&__overlay {
				position: relative;
			}
		}										
	}
}