.about
  .about__container
    h1 Hello there,
    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum

    .about__contact-info
      ul
        li
          .triangle
          h2 Email:
          a(href='#') paigeinteractive@gmail.com 
        li
          .triangle
          h2 Phone:
          a(href='tel:8179955467') (817) 995-5467
        li  
          .triangle
          h2 Resume:
          a(href='#') Download