footer.footer
  ul
    li 
      a(href='#')
        i.fa.fa-github
    li 
      a(href='#')
        i.fa.fa-codepen
    li 
      a(href='#')
        i.fa.fa-linkedin
    li 
      a(href='#')
        i.fa.fa-instagram