footer.footer
  ul
    li 
      a(href='https://github.com/paige-keenan' target='_blank')
        i.fa.fa-github
    li 
      a(href='http://codepen.io/paigekeenan' target='_blank')
        i.fa.fa-codepen
    li 
      a(href='https://www.linkedin.com/pub/paige-keenan/b7/a18/9ba' target='_blank')
        i.fa.fa-linkedin
    li 
      a(href='https://instagram.com/paigeykeenan/' target='_blank')
        i.fa.fa-instagram