section.header
  a(href='#')
    h1 Paige Keenan
    h2 Front End Developer
  nav
    ul
      li
        button(target='#' title='about' type='submit') About

      li 
        button(target='#' title='contact' type='submit') Contact    