doctype html
html
  head
    include head.jade
    section.header
       a(href='#')
          h1 Paige Keenan
          h2 Front End Developer

    section.main
       nav
          ul
             li
                a(href='#') About
             li 
                a(href='#') Contact   

  body
    include scriptInclude.jade
