doctype html
html
  head
    include head.jade
    section.header
       a(href='#')
          h1 Paige Keenan
          h2 Front End Developer

    section.main
       nav
          ul
             li
                button(target='#' title='about' type='submit') About

             li 
                button(target='#' title='contact' type='submit') Contact

  body
    include scriptInclude.jade

