doctype html
html
  head
    include head.jade
    //- include header.jade
    //- include work.jade
    //- include about.jade
    //- include contact.jade
    include work-header.jade
    include work-page.jade
    include footer.jade    

  body
    include scriptInclude.jade

