script(src='http://code.jquery.com/jquery-1.11.1.min.js')
<<<<<<< HEAD
script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js')
=======
script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r57/three.js')
>>>>>>> b9beda2936346bd859a1f0ab4eb34ac1c0cabd6f
script(src='../scripts/main.js')
script(src='//localhost:35729/livereload.js')
