section.work

  nav.work__nav
    h5 Filter by:
    ul 
      li
        a(href='#', data-filter='all') All
      li  
        a.work__nav__active(href='#', data-filter='development') Development
      li  
        a(href='#', data-filter='design') Design
      li  
        a(href='#', data-filter='other') Other
  .work__container
    section(data-role='development')
      h3 Bridgestonetire
      h4 Development
      a.work__one.work__item(href='#')
        .work__item__overlay.work__one__overlay

    section(data-role='development design')
      h3 Google Maps / Bands In Town
      h4 Development, Design
      a.work__two.work__item(href='#')
        .work__item__overlay.work__two__overlay

    section(data-role='development design')
      h3 Atlanta Humane Society
      h4 Development, Design
      a.work__three.work__item(href='#')
        .work__item__overlay.work__three__overlay        

    section(data-role='other')
      h3 100 Girls of Code
      h4 Atlanta Chair
      a.work__four.work__item(href='#')
        .work__item__overlay.work__four__overlay 

    section(data-role='design')
      h3 Red Cross
      h4 Design
      a.work__five.work__item(href='#')
        .work__item__overlay.work__five__overlay          

    section(data-role='development design')
      h3 Various Animations
      h4 Development, Design
      a.work__six.work__item(href='#')
        .work__item__overlay.work__six__overlay    

    section(data-role='development other')
      h3 Browser Video Game
      h4 Game Development
      a.work__seven.work__item(href='#')
        .work__item__overlay.work__seven__overlay                                                     