section.work

  nav.work__nav
    h5 Filter by:
    ul 
      li
        a(href='#', data-filter='all') All
      li  
        a.work__nav__active(href='#', data-filter='development') Development
      li  
        a(href='#', data-filter='design') Design
      li  
        a(href='#', data-filter='other') Other
  .work__container
    section(data-role='development')
      h3 Bridgestone Tire
      h4 Development
      a.work__one.work__item(href='work/bridgestone.html')
        .work__item__overlay.work__one__overlay
          h3 Bridgestone Tire

    section(data-role='development design')
      h3 Google Maps / Bands In Town
      h4 Development, Design
      a.work__two.work__item(href='work/maps.html')
        .work__item__overlay.work__two__overlay
          h3 Google Maps / Bands In Town

    section(data-role='development design')
      h3 Atlanta Humane Society
      h4 Development, Design
      a.work__three.work__item(href='work/humane-society.html')
        .work__item__overlay.work__three__overlay  
          h3 Atlanta Humane Society      

    section(data-role='design')
      h3 Red Cross
      h4 Design
      a.work__four.work__item(href='work/red-cross.html')
        .work__item__overlay.work__four__overlay 
          h3 Red Cross  

    section(data-role='development design')
      h3 Various Animations
      h4 Development, Design
      a.work__six.work__item(href='work/animations.html')
        .work__item__overlay.work__five__overlay    
          h3 Various Animations

    section(data-role='other')
      h3 100 Girls of Code
      h4 Atlanta Chair
      a.work__five.work__item(href='work/100-girls-of-code.html')
        .work__item__overlay.work__six__overlay    
          h3 100 Girls of Code             

    section(data-role='development other')
      h3 Browser Video Game
      h4 Game Development
      a.work__seven.work__item(href='work/browser-game.html')
        .work__item__overlay.work__seven__overlay                                                     
          h3 Browser Video Game