section.work

  nav.work__nav
    ul
      li
        a(href="#") All
      li  
        a.work__nav__active(href="#") Development
      li  
        a(href="#") Design
      li  
        a(href="#") Other

  section
    h3 Bridgestonetire
    h4 Development
    a.work__one.work__item(href='#')
      .work__item__overlay.work__one__overlay(data-role='develop')

  section
    h3 Google Maps / Bands In Town
    h4 Development, Design
    a.work__two.work__item(href='#')
      .work__item__overlay.work__two__overlay(data-role='develop design')  

  section
    h3 Atlanta Humane Society
    h4 Development, Design
    a.work__three.work__item(href='#')
      .work__item__overlay.work__three__overlay(data-role='develop design')        

  section
    h3 100 Girls of Code
    h4 Atlanta Chair
    a.work__four.work__item(href='#')
      .work__item__overlay.work__four__overlay(data-role='develop design')  

  section
    h3 Various Animations
    h4 Development, Design
    a.work__five.work__item(href='#')
      .work__item__overlay.work__five__overlay(data-role='other')                                             