nav
  .mobile-nav
    .mobile-nav__toggle
    .mobile-nav__toggle
    .mobile-nav__toggle
  .work-nav
    a.active(href='../index.html') Home
    a(href='../about.html') About
    a(href='../paige-keenan-resume.pdf' target='_blank') Hire Me
