section.header.work__header.work__header__proj-1
  //- nav
  //-   //- a(href='#')
  //-   //-   h1 PAIGE KEENAN
  //-   ul
  //-     li
  //-       button(target='index' title='home' type='submit') 
  //-         a(href='index.html') Home

  //-     li 
  //-       button(target='#' title='contact' type='submit') 
  //-         a(href='about.html') About   