@keyframes transformBackground {
  0% {
    background: #FFB78C; }

  18% {
    background: #F39A7D; }

  48% {
    background: #E6766C; }

  78% {
    background: #DF6363; }

  100% {
    background: #FFB78C; } }

@-webkit-keyframes transformBackground {
  0% {
    background: #FFB78C; }

  18% {
    background: #F39A7D; }

  48% {
    background: #E6766C; }

  78% {
    background: #DF6363; }

  100% {
    background: #FFB78C; } }

.header {
  animation: 10s transformBackground infinite;
  -webkit-animation: 10s transformBackground infinite;
  background: blue;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .header {
      background: rgba(22, 220, 255, 0.31);
      height: 400px; } }
  .header::before {
    content: '';
    background: url('../images/mountain-header.jpg');
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .25;
    background-position: center;
    background-size: cover; }
  .header .main {
    background: #eeede8; }
  .header nav {
    padding-bottom: 30px; }
    .header nav li {
      padding-top: 20px;
      text-align: center; }
      .header nav li button {
        border: 0;
        border-radius: 50px;
        background: none;
        color: #fff;
        cursor: pointer;
        border: 2px solid #fff;
        cursor: pointer;
        font-family: 'Fjalla One' Helvetica, sans-serif;
        font-size: 15px;
        height: 45px;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        width: 50%;
        max-width: 150px;
        min-width: 100px; }
        .header nav li button p {
          position: absolute;
          text-align: center;
          top: 15px;
          width: 100%;
          z-index: 1; }

.work {
  padding: 20px; }
  .work__nav {
    display: none;
    padding: 0 0 20px;
    width: 100%; }
    .work__nav a {
      color: #575656;
      font-family: 'Source Sans Pro' Helvetica, sans-serif; }
    .work__nav__active {
      border-bottom: 4px solid #FFB78C; }
    @media screen and (min-width: 768px) {
      .work__nav {
        display: block; } }
  .work .work__item {
    display: inline-block;
    height: 220px;
    margin-bottom: 40px;
    position: relative;
    width: 100%; }
    .work .work__item__overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
      .work .work__item__overlay:hover {
        background: none; }
    .work .work__item__icons {
      bottom: 0;
      color: #E9615A;
      opacity: .75;
      position: absolute;
      right: 0; }
      .work .work__item__icons i {
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        padding: 5px; }
  .work__one {
    background: url('../images/bridgestone.jpg') center center;
    background-size: cover; }
  .work__two {
    background: url('../images/maps.jpg') center center;
    background-size: cover; }
  .work__three {
    background: url('../images/atlanta-humane-society.jpg') center center;
    background-size: cover; }
  .work__four {
    background: url('../images/100-girls-of-code.jpg') center center;
    background-size: cover; }
  .work__five {
    background: url('../images/ghost.jpg') center center;
    background-size: cover; }

.about {
  padding: 20px; }
  .about__container {
    background: url('../images/about-me.jpg');
    width: 75%;
    border-radius: 100%;
    height: auto;
    padding-top: 75%;
    margin: 0 12.5%;
    background-size: cover;
    background-position: center; }
  .about h1 {
    color: #575656;
    text-align: left; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * a {
    text-decoration: none; }
  * li {
    list-style: none; }
  * h1, * h2 {
    color: #fff; }
    @media screen and (min-width: 768px) {
      * h1, * h2 {
        color: rgba(81, 93, 94, 0.36); } }
  * h1 {
    font-family: 'Fjalla One' Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 35px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      * h1 {
        line-height: 80px;
        padding-top: 100px;
        font-size: 100px; } }
  * h2 {
    font-family: 'Source Sans Pro' Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media screen and (min-width: 768px) {
      * h2 {
        font-size: 60px; } }
  * h3 {
    color: #575656;
    font-family: 'Fjalla One' Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    padding: 0 20px 0 0;
    margin-bottom: 10px;
    vertical-align: top;
    position: relative; }
    * h3::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 20px;
      background: #575656;
      right: 0;
      top: 50%;
      margin-top: -10px; }
  * h4 {
    color: #575656;
    font-family: 'Source Sans Pro' Helvetica, sans-serif;
    width: 50%;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 0 0 20px;
    vertical-align: top; }
