* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * h1 {
    font-size: 40px;
    line-height: 35px;
    color: rgba(202, 3, 3, 0.37);
    font-family: "Oswald" Helvetica, sans-serif;
    font-size: 100px;
    right: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    padding-top: 100px; }
  * h2 {
    color: rgba(202, 3, 3, 0.37);
    font-family: "Oswald" Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    text-transform: capitalize; }
  * canvas {
    display: none; }
    @media screen and (min-width: 768px) {
      * canvas {
        display: block;
        opacity: .2;
        position: absolute;
        top: 0; } }
  * .header {
    background: rgba(24, 172, 174, 0.19);
    height: 400px;
    position: relative;
    width: 100%; }
