html,
body {
	margin: 0 auto;
	padding: 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	margin: 30px 10% 0;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 30px;
		margin-left: 0;
		text-align: left;
	}
}

h2 {
	color: #92D8E0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	margin: 8px 0;
	text-transform: uppercase;
}

p {
	color: #6f6f6f;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	line-height: 25px;
}

a {
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	letter-spacing: 1px;
	line-height: 25px;	
}

ol {
	display: inline-block;
	padding: 0;
}

li {
	color: #6f6f6f;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;	
	line-height: 25px;
}

.divider {
    background: #fff;
    display: block;
    height: 5px;
    margin: 10px auto 40px;
    width: 50px;
}

@media screen and (min-width: 768px) {
	.divider {
		display: inline-block;
		margin: 20px auto 0;
	}
}

.slide {
	display: inline-block;
	padding: 20px 5%;
	width: 90%;
}

@media screen and (min-width: 768px) {
	.slide-container {
		display: block;
		margin: 50px auto;
		max-width: 800px;
		position: relative;
		width: 90%;
	}
}	

.slide-1 {
	background: url(../img/sec-1-bg.jpg) center;
	background-size: cover;
	margin-bottom: -4px;
	overflow-x: hidden;
	position: relative;
}

.slide-1 .animals,
.svg-container {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 90%;
}

.svg-container {
	display: none;
}

.svg-container svg {
	bottom: 0;
	height: 0;
	left: 0;	
	overflow: hidden;
	position: absolute;
	width: 4px;
	z-index: 1;
}

svg {
	display: none;
    bottom: 0;
    left: 50%;
    margin-left: -625px;	
    position: absolute;
    width: 1250px;
}

svg path {
	opacity: .5;
}

.twinkle-one {
	-moz-animation: twinkleOneAnimate 1.5s ease-in-out infinite;
	-webkit-animation: twinkleOneAnimate 1.5s ease-in-out infinite;
	animation: twinkleOneAnimate 1.5s ease-in-out infinite;
}

.twinkle-two {
	-moz-animation: twinkleTwoAnimate 2s ease-in-out infinite;
	-webkit-animation: twinkleTwoAnimate 2s ease-in-out infinite;
	animation: twinkleTwoAnimate 2s ease-in-out infinite;
}

.twinkle-three {
	-moz-animation: twinkleThreeAnimate 2.5s ease-in-out infinite;
	-webkit-animation: twinkleThreeAnimate 2.5s ease-in-out infinite;
	animation: twinkleThreeAnimate 2.5s ease-in-out infinite;
}

@media only screen and (min-width: 768px) {
	.slide-1 .animals, 
	.svg-container {
		display: block;
		width: 600px;
	}
}

@media only screen and (min-width: 1100px) {
	.slide-1 .animals, 
	.svg-container {
		width: 800px;
	}
}

.logo {
	display: block;
	margin: 50px auto 0;
	width: 40px;
}

.slide-1 h1 {
    color: #fff;
    font-size: 35px;
    margin: 0;
    padding: 10px 0 150px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
	.slide-1 h1 {
		padding: 10px 0 500px;
		text-align: center;
	}
}

.slide-2 {
	background: #BEDFDF;
}

.slide-2 h1 {
	color: #4B4B4B;
}

.slide__content-text {
	display: inline-block;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.slide__content-text {
		margin-right: 9%;
		vertical-align: top;
		width: 45%;
	}
}


.slide__content-graph {
	display: inline-block;
	padding: 50px 0 30px;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.slide__content-graph {
		padding-top: 65px;
		width: 45%;
	}
}

.graph-container {
	border-bottom: 5px solid #fff;
	display: inline-block;
	height: 300px;
	overflow: hidden;
	width: 100%;
}

.graph-bar {
	background: #ddb755;
	display: inline-block;
	margin-right: 3%;
	margin-top: 25px;
	position: relative;
	width: 20%;
}

@media only screen and (min-width: 768px) {
	.graph-bar {
		margin-top: 0;
	}
}

.graph-bar-one {
	height: 125px;
	margin-left: 3.5%;
}

@media only screen and (min-width: 768px) {
	.graph-bar-one {
		-moz-transform: translateY(135px);
		-webkit-transform: translateY(135px);
		transform: translateY(135px);
	}
}

.graph-bar-one:after {
    bottom: 0;
    color: #fff;
    content: '1.';
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0 0 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.graph-bar-one:before {
	color: #6f6f6f;
	content: '45%';
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	position: absolute;
	text-align: center;
	top: -20px;
	width: 100%;
}

.graph-bar-two {
	height: 175px;
}

@media only screen and (min-width: 768px) {
	.graph-bar-two {
		-moz-transform: translateY(175px);
		-webkit-transform: translateY(175px);
		transform: translateY(175px);
	}
}

.graph-bar-two:after {
    bottom: 0;
    color: #fff;
    content: '2.';
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0 0 60px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.graph-bar-two:before {
	color: #6f6f6f;
	content: '50%';
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	position: absolute;
	text-align: center;
	top: -20px;
	width: 100%;
}

.graph-bar-three {
	height: 225px;
}

@media only screen and (min-width: 768px) {
	.graph-bar-three {
		-moz-transform: translateY(225px);
		-webkit-transform: translateY(225px);
		transform: translateY(225px);
	}
}

.graph-bar-three:after {
    bottom: 0;
    color: #fff;
    content: '3.';
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0 0 90px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.graph-bar-three:before {
	color: #6f6f6f;
	content: '55%';
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	position: absolute;
	text-align: center;
	top: -20px;
	width: 100%;
}

.graph-bar-four {
	height: 275px;
}

@media only screen and (min-width: 768px) {
	.graph-bar-four {
		-moz-transform: translateY(275px);
		-webkit-transform: translateY(275px);
		transform: translateY(275px);
	}
}

.graph-bar-four:after {
    bottom: 0;
    color: #fff;
    content: '4.';
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0 0 120px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.graph-bar-four:before {
	color: #6f6f6f;
	content: '60%';
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	position: absolute;
	text-align: center;
	top: -20px;
	width: 100%;
}

.slide__content-graph ol {
	padding: 0 7%;
}

.slide-3 {
	background: #e56837;
	position: relative;
}

.slide-3 h1 {
	color: #fff;
}

.slide-3 .divider {
	background: #FFAD00;
}

.slide__content-images {
	display: inline-block;
	height: 300px;
	margin-top: 170px;
	position: relative;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.slide__content-images {
		position: initial;
		width: 45%;
	}
}

.slide-3 .slide__content-text {
	height: 300px;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	.slide-3 .slide__content-text {
		height: 500px;
		margin-left: 9%;
		margin-right: 0;
		vertical-align: top;
		width: 45%;
	}
}

.slide-3__headline-container {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 30px;
}

@media only screen and (min-width: 768px) {
	.slide-3__headline-container {
		background: #e56837;
		position: relative;
		z-index: 1;
	}
}

.slide__content-images img {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.slide__content-images img {
		height: 400px;
		margin-top: -220px;
		top: 50%;
		width: 45%;
	}
}

.slide-3 ul {
	padding: 0 0 200px;
}

.slide-3 ul:first-of-type {
	-moz-animation: slide3Text 20s ease-in-out infinite;
	-webkit-animation: slide3Text 20s ease-in-out infinite;
	animation: slide3Text 20s ease-in-out infinite;
}

.slide-3 li {
	color: #fff;
	list-style: none;
	padding: 30px 0 0 26px;
	position: relative;
}

.slide-3 li:before {
	border-bottom: 8px solid transparent;
    border-left: 15px solid #FFAD00;	
	border-top: 8px solid transparent;
	content: '';
	left: 0;
	position: absolute;
	top: 33px;
}

.animals1 {
	-moz-animation: opacityanimal1 20s ease-in infinite;
	-webkit-animation: opacityanimal1 20s ease-in infinite;
	animation: opacityanimal1 20s ease-in infinite;
}

.animals2 {
	-moz-animation: opacityanimal2 20s ease-in infinite;
	-webkit-animation: opacityanimal2 20s ease-in infinite;
	animation: opacityanimal2 20s ease-in infinite;
}

.animals3 {
	-moz-animation: opacityanimal3 20s ease-in infinite;
	-webki-tanimation: opacityanimal3 20s ease-in infinite;
	animation: opacityanimal3 20s ease-in infinite;
}

.slide-4 {
	background: #574975;
}

@media only screen and (min-width: 768px) {
	.slide-4  {
		min-height: 90vh;
	}
 
	.slide-4.scrolled--to .fly-dog {
		bottom: 350px;
		right: 300px;
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-moz-transition: 1s ease-in;
		-webkit-transition: 1s ease-in;
		transition: 1s ease-in;
	}

	.slide-4.scrolled--to .frisbee {
		-moz-animation: frisbeeFlyIn 1s .5s ease-in forwards;
		-webkit-animation: frisbeeFlyIn 1s .5s ease-in forwards;
		animation: frisbeeFlyIn 1s ease-in .5s forwards;
		bottom: 550px;
		display: block;
	}
}

.slide-4 .slide-container {
	position: relative;
}

@media only screen and (min-width: 768px) {
	.slide-4 .slide-container {
		height: 700px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 768px) {
	.slide-4 .slide__content-text {
		bottom: 0;
		margin: 0;
		position: absolute;
		right: 0;
	}
}

.slide-4 h1 {
	color: #fff;
}

@media only screen and (min-width: 768px) {
	.slide-4 h1 {
		width: 35%;
	}
}

.slide-4 .divider {
	background: #92D8E0;
}

.flying-dog {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.fly-dog {
    margin: 0 15%;
    padding: 0 0 30px 0;
    width: 70%;
}

@media only screen and (min-width: 768px) {
	.fly-dog {
		bottom: -1000px;
		position: absolute;
		-moz-transform: rotate(-105deg);
		-webkit-transform: rotate(-105deg);
		transform: rotate(-105deg);
		width: 250px;
	}
}

.frisbee {
	display: none;
	position: absolute;
	-moz-transform: translateX(1000px);
	-webkit-transform: translateX(1000px);
	transform: translateX(1000px);
	width: 100px;
	width: 100px;
}

.slide-4 p,
.slide-4 a {
	color: #fff;
	letter-spacing: 1px;
	margin: 0;
}

.slide-4 .slide__content-text {
	padding: 0 0 30px 0;
}

.dog-house {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	width: 45%;
}

.sunshine {
	display: none;
	position: absolute;
	right: 0;
	top: 50px;
	width: 30%;
}

@media screen and (min-width: 768px) {
	.sunshine,
	.dog-house, 
	svg {
		display: block;
	}
}

.mobile-only {
	display: block;
}

/*********
**********
***		All .scroll--to events and animations begins here.
**********	
*********/


@media only screen and (min-width: 768px) {
	.scrolled--to .graph-bar-one {
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
		-moz-transition: 1s ease-in;
		-webkit-transition: 1s ease-in;
		transition: 1s ease-in;
	}

	.scrolled--to .graph-bar-two {
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
		-moz-transition: 1.5s ease-in;
		-webkit-transition: 1.5s ease-in;
		transition: 1.5s ease-in;
	}

	.scrolled--to .graph-bar-three {
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
		-moz-transition: 2s ease-in;
		-webkit-transition: 2s ease-in;
		transition: 2s ease-in;
	}

	.scrolled--to .graph-bar-four {
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
		-moz-transition: 2.5s ease-in;
		-webkit-transition: 2.5s ease-in;
		transition: 2.5s ease-in;
	}			
}

@-moz-keyframes slide3Text {
	0% {
		margin-top: 30px;
	}

	31% {
		margin-top: 30px;
	}

	33% {
		margin-top: -400px
	}

	64% {
		margin-top: -400px;
	}

	66% {
		margin-top: -800px;
	}

	100% {
		margin-top: -800px
	}
}
@-webkit-keyframes slide3Text {
	0% {
		margin-top: 30px;
	}

	31% {
		margin-top: 30px;
	}

	33% {
		margin-top: -400px
	}

	64% {
		margin-top: -400px;
	}

	66% {
		margin-top: -800px;
	}

	100% {
		margin-top: -800px
	}
}
@keyframes slide3Text {
	0% {
		margin-top: 30px;
	}

	31% {
		margin-top: 30px;
	}

	33% {
		margin-top: -400px
	}

	64% {
		margin-top: -400px;
	}

	66% {
		margin-top: -800px;
	}

	100% {
		margin-top: -800px
	}
}

@-moz-keyframes frisbeeFlyIn {
	0% {
		-moz-transform: translateX(1000px);
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
	}

	100% {
		-moz-transform: translateX(270px);
		-webkit-transform: translateX(270px);
		transform: translateX(270px);
	}
}
@-webkit-keyframes frisbeeFlyIn {
	0% {
		-moz-transform: translateX(1000px);
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
	}

	100% {
		-moz-transform: translateX(270px);
		-webkit-transform: translateX(270px);
		transform: translateX(270px);
	}
}
@keyframes frisbeeFlyIn {
	0% {
		-moz-transform: translateX(1000px);
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
	}

	100% {
		-moz-transform: translateX(270px);
		-webkit-transform: translateX(270px);
		transform: translateX(270px);
	}
}

@-moz-keyframes opacityanimal1 {
	0% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	34% {
		opacity: .5;
	}

	100% {
		opacity: .5;
	}
}
@-webkit-keyframes opacityanimal1 {
	0% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	34% {
		opacity: .5;
	}

	100% {
		opacity: .5;
	}
}
@keyframes opacityanimal1 {
	0% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	34% {
		opacity: .5;
	}

	100% {
		opacity: .5;
	}
}

@-moz-keyframes opacityanimal2 {
	0% {
		opacity: .5;
	}

	33% {
		opacity: .5;
	}

	34% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	67% {
		opacity: .5;
	}
}
@-webkit-keyframes opacityanimal2 {
	0% {
		opacity: .5;
	}

	33% {
		opacity: .5;
	}

	34% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	67% {
		opacity: .5;
	}
}
@keyframes opacityanimal2 {
	0% {
		opacity: .5;
	}

	33% {
		opacity: .5;
	}

	34% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	67% {
		opacity: .5;
	}
}

@-moz-keyframes opacityanimal3 {
	66% {
		opacity: .5;
	}

	67% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

	0% {
		opacity: .5;
	}
}
@-webkit-keyframes opacityanimal3 {
	66% {
		opacity: .5;
	}

	67% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

	0% {
		opacity: .5;
	}
}
@keyframes opacityanimal3 {
	66% {
		opacity: .5;
	}

	67% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

	0% {
		opacity: .5;
	}
}

@-moz-keyframes twinkleOneAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}
@-webkit-keyframes twinkleOneAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}
@keyframes twinkleOneAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}

@-moz-keyframes twinkleTwoAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}
@-webkit-keyframes twinkleTwoAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}
@keyframes twinkleTwoAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .8;
	}

	100% {
		opacity: .25;
	}
}

@-moz-keyframes twinkleThreeAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .75;
	}

	100% {
		opacity: .25;
	}
}
@-webkit-keyframes twinkleThreeAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .75;
	}

	100% {
		opacity: .25;
	}
}
@keyframes twinkleThreeAnimate {
	0% {
		opacity: .25;
	}

	50% {
		opacity: .75;
	}

	100% {
		opacity: .25;
	}
}

