section.work-page
  .work-page__container
    h2 Red Cross
    .work-page__main
      ul
        li 
          .triangle
          p Role:
          p Design  
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets contain

    .work-page__tech-container
      .work-page__tech-specs
        h4 Design Tools:
        ul
          li
            .triangle
            p Adobe Photshop
          li
            .triangle
            p Adobe Photshop            
          li
            .triangle
            p Adobe Photshop
          li
            .triangle
            p Adobe Photshop                    

      .work-page__button-container
        button.work-page__view-site(style='margin-right: 5%')      
          a(href='#') View Design
        button.work-page__view-site      
          a(href='#') View Design  

    .work-page__navigation
      .work-page__left
        a(href='#')
          i.fa.fa-long-arrow-left
          h3 Previous
          p Project Before This
      .work-page__right  
        a(href='#') 
          h3 Next
          i.fa.fa-long-arrow-right
          p Project After This
           

        