body { 
	margin: 0; 
	padding: 0 
}

#map-canvas { 
	box-shadow: 0px 5px 62px -19px #00719F;
	height: 50%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;	
}

.gm-style-iw {
	min-height: 200px;
	width: 400px; 
}

h1 {
	color: #5CC6C7;
	display: inline-block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
	font-weight: 800;	
	letter-spacing: 3px;
	margin: 30px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;	
}

h2 {
	color: #fff;
	display: inline-block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 800;	
	letter-spacing: 1.5px;
	padding-left: 20px;
}

h3 {
	color: #F69C50;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 2px;
	padding: 0 10px;
}

p {
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
	padding: 0 10px;
}

a {
	color: #F69C50;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
	padding: 0 10px;
	transition: .2s ease-out;
}

a:hover {
	font-style: italic;
	transition: .2s ease-in;
}

.content {
	background: #242A35;
	min-height: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
}

.content-container {
	display: block;
	width: 100%;
}

section {
	width: 100%;
}

form input {
	display: inline-block;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0 0 0 85px;
}

button {
	background: #5CC6C7;
	border-radius: 25px;
	border: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0 0 0 10px;
	padding: 10px 15px;
	text-transform: uppercase;
	vertical-align: middle;
}

input {
	border: 0;
	padding: 10px 20px;
	vertical-align: middle;
}

.number {
	border-radius: 100%;
	border: 5px solid #5CC6C7;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 38px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	padding: 0;
	text-align: center;
	width: 50px;
}

.searcher {
	display: inline-block;
	padding: 0 30px 20px;
	width: 49%;
}

.band-info {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.search-headline {
	margin: 0;
	padding-left: 20px;
}

.band-info ul {
	color: #fff;
	max-height: 400px;
	overflow-y: scroll;
}

.band-info ul li {
	background: #3B4658;
	display: inline-block;
	list-style: none;
	width: 100%;
}

.band-info ul li:nth-child(odd) {
	background: #2C3442;
}

.band-info ul li.highlighted {
	background: #253A5D;
}

.band-info ul li.highlighted h3,
.band-info ul li.highlighted a {
	color: #5CC6C7;
}
